@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap');

.container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 15px;
  width: 100px;
}

.title {
  font-size: 36px;
  font-family: 'Gluten', cursive;
  font-size: 500;
}